/* =================== pages/auth.css =================== */
.auth_section,
.registration_section {
    padding: 60px 20px;
    background-color: #f5f5f5;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}