/* css/pages/profile.css - Стили личного кабинета */

.form_container h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.form_container table {
    margin-top: 20px;
}

.form_container select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}